<nz-layout class="app-layout">
  <nz-layout>
    <nz-header>
      <nz-header>
        <ul nz-menu nzTheme="light" nzMode="horizontal">
          <li nz-menu-item [nzSelected]="showTasks" (click)="showTasks = !showTasks">tasks</li>
          <li nz-menu-item [nzSelected]="!showTasks" (click)="showTasks = !showTasks">content</li>
        </ul>
      </nz-header>
    </nz-header>
    <nz-content>
      <div *ngIf="showTasks" class="inner-content">
        <app-task-list></app-task-list>
      </div>
      <div *ngIf="!showTasks" class="inner-content">
        <app-content-list></app-content-list>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
