<nz-layout class="app-layout">
  <nz-layout>
    <nz-header>
      <nz-header>
        <ul nz-menu nzTheme="light" nzMode="horizontal">
          <li nz-menu-item [nzSelected]="showTasks" (click)="showTasks = !showTasks">tasks</li>
          <li nz-menu-item [nzSelected]="!showTasks" (click)="showTasks = !showTasks">content</li>
        </ul>
      </nz-header>
    </nz-header>
    <nz-content>
      <div *ngIf="showTasks" class="inner-content">
        <app-task-list></app-task-list>
      </div>
      <div *ngIf="!showTasks" class="inner-content">
        <app-content-list></app-content-list>
      </div>
      <img class="icon" (click)="showMusic = !showMusic;" src="assets/icon.png">
      <img class="music" *ngIf="showMusic" src="assets/music.png">
      <img class="music" style="left: 10px;top: 80px;" *ngIf="showMusic" src="assets/timmer1.jpg">
      <img class="music" style="left: 10px;" *ngIf="showMusic" src="assets/timmer2.jpg">
    </nz-content>
  </nz-layout>
</nz-layout>
