<div class="task-container sub-page-container">
  <div class="list-container">
    <div
      class="kanban-item"
      *ngFor="let list of allList"
      droppable
      [dropScope]="'task'"
      [dragHintClass]="'on-drag-hint'"
      [dragOverClass]="'on-drag-over'"
      (onDrop)="onItemDrop($event, list)"
    >
      <div class="item-header">{{list.type}}</div>
      <div
        *ngFor="let task of list.list"
        class="task-item"
        draggable
        [dragData]="task"
        [dragScope]="'task'"
      >
        <div style="position: relative;padding: 10px;">
          <i class="icon" nz-icon nzType="edit" nzTheme="outline" (click)="editTask(task.id, list)"></i>
          <div class="task-priority"></div>
          <div class="task-tag">
            <span [ngClass]="{'quiz':task.tag === 'quiz', 'easy':task.tag === 'easy', 'groupWork':task.tag === 'groupWork'}">{{task.tag}}</span>
          </div>
          <header>{{task.name}}</header>
          <div class="task-info">
            <span>{{task.createDate | date: "MM/dd/yy"}}</span>
          </div>
        </div>
      </div>
      <div class="add-task">
        <i nz-icon nzType="plus" nzTheme="outline" (click)="addTask(list)"></i>
      </div>
    </div>
  </div>
  <app-task-creator [id]="activeId" [type]="activeType" [modalVisible]="editorVisible" (changeModal)="changeEditorModal($event)"></app-task-creator>
</div>
