<div class="content-creator-container">
  <nz-modal
    [(nzVisible)]="modalVisible"
    nzMask="true"
    nzZIndex="1001"
    nzTitle="add content"
    nzMaskClosable="false"
    [nzFooter]="modalFooter"
    (nzAfterOpen)="afterOpen()"
    (nzAfterClose)="afterClose()"
    [nzOkLoading]="isOkLoading"
  >
  <form nz-form [formGroup]="validateForm">
    <nz-form-item class="ant-form-item ant-row">
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">name</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="required">
        <input nz-input id="name" formControlName="name" placeHolder="name"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="ant-form-item ant-row">
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="text">text</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="required">
        <input nz-input id="text" formControlName="text" placeHolder="text"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="ant-form-item ant-row">
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="url">url</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="required">
        <input nz-input id="url" formControlName="url" placeHolder="url"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="ant-form-item ant-row">
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="type">type</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="required">
        <nz-select formControlName="type" nzPlaceHolder="type" >
          <nz-option nzLabel="JPNS1611" nzValue="JPNS1611"></nz-option>
          <nz-option nzLabel="WRIT1000" nzValue="WRIT1000"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">cancel</button>
    <button nz-button nzType="primary" (click)="handleOnOk()">submit</button>
  </ng-template>
  </nz-modal>
</div>
